@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
	margin: 0;
	font-family: 'Montserrat';
	color: #fff;
	background-color: #1a1a1c;
	touch-action: none;
}
